$mainColor: blue;
$fontSize: 20px;

body {
  background-color: #f5f5f5;
  font-size: $fontSize;
}

h1 {
  color: $mainColor;
  text-align: center;

}

p{
	color : purple;
	text-align: end;
	background-color: #fff;
}
